<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In to Your Account</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>Sign In to<br>Your Account</h1>
            <form action="/login" method="post">
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <div class="forgot-password">
                    <a href="#">forgot password?</a>
                </div>
                <button type="submit" class="sign-in-btn">SIGN IN</button>
            </form>
        </div>
        <div class="right-panel">
            <h1>Hello Friend!</h1>
            <p>Enter your personal details and start your journey with us</p>
           <a href="/signup"><button class="sign-up-btn">SIGN UP</button></a> 
        </div>
    </div>
</body>
</html>